*.json
*.JSON
.vscode/
settings.json
*.mat
*.pyc
*.__pycache__
*.DS_store
crypt.py
*__pycache__
creds.txt
.ipynb_checkpoints
*.ipynb_checkpoints
aggragted_csv*
running_main_csv_TEST_DATA.csv
scrape_api_DELETE_LATER.py
* .DS_store
*DS_store
scratch.py 
test/experiments/*
test/experiments/
test/data_backup_copies/*
test/data_backup_copies/
test/extra_documentation/*
test/extra_documentation/
sentiment_analysis_example.py
sentiment140.csv
*sentiment140.csv
*/sentiment140.csv
build_model.py
corpuses_tfidf_feature_extraction_adoptable.py
corpuses_tfidf_feature_extraction_adopted.py
data_EDA.py
eda.py
tf_idf_scores.py
tweets.csv
